html,
body {
  min-width: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  
  display: flex;
  flex-direction: column;
  height: 100%;
}

.link {
  
  display: flex;
  align-items: center;
  padding: 6px;
  height: 60px;
  box-sizing: border-box;
  justify-content: flex-end;
}

.link1 {
  
  float: right;
  box-sizing: border-box;
  padding-left: 0;
  height: 48px;
  vertical-align: middle;
  align-items: center;
  display: flex;
}

.link2a,
.link2b {
  padding-right: 15px;
  color: rgba(0,0,0,0.87);
  text-decoration: none;
  font-family: arial, sans-serif;
}
.link2a:hover,.link2b:hover {
  text-decoration: underline;
}
.image1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  height: calc(100% - 560px);
  max-height: 290px;
  box-sizing: border-box;
}
.image2 {
  max-height: 92px;
  position: relative;
  height: 100%;
  margin-top: auto;
}
.image3 {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}
.form {
  max-height: 160px;
  padding: 20px;
  box-sizing: border-box;
}
.form2 {
  max-width: 584px;
  width: auto;
}
.form2 {
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
  width: 484px;
  width: auto;
  max-width: 484px;
}
.form3a {
  max-width: 584px;
  width: auto;
}
.form3a {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 482px;
  width: auto;
}
.form3a:hover {
  background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0)
}
.form3aa {
  background-color:transparent;
  border: none;
  margin: 0;
  padding-left: 16px;
  outline: none;
  display: flex;
  flex: 100%;
  border-radius: 24px;
  font-size: 16px;
}
.form3b {
  height: 70px;
  padding-top: 18px;
  top: 53px;
}
.form3ba,
.form3bb {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.form3ba:hover,.form3bb:hover {
  
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
.form3ba:focus,.form3bb:focus {
  border: 1px solid #4285f4;
    outline: none;
}
div {
  display: block;
}
